/.env
/venv
tests.py
/logs

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Job\Python\quick_check\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea

migrations
media
