<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form action="/auth/registration" method="post">
        {% if message %}
            <div>{{ message }}</div><br>
            <a href="/auth/login">На страницу авторизации</a>
        {% else %}
            {% csrf_token %}
            <label for="last_name">Фамилия</label>
            <input type="text" name="last_name" required="required"><br>
            <label for="first_name">Имя</label>
            <input type="text" name="first_name" required="required"><br>
            <label for="middle_name">Отчество</label>
            <input type="text" name="middle_name" required="required"><br>
            <label for="email">Email</label>
            <input type="email" name="email" required="required"><br>
            <label for="phone_number">Номер телефона</label>
            <input type="text" name="phone_number" placeholder="+79990001122" required="required"><br>
            <label for="birth_date">Дата рождения</label>
            <input type="date" name="birth_date" placeholder="2020-12-24" required="required"><br>
            <label for="registration_reason">Цель регистрации</label>
            <textarea name="registration_reason" required="required"></textarea><br>
            <label>Тип учетной записи</label>
            <select name="user_type">
                {% for user_type, user_type_str in user_types %}
                    <option value="{{ user_type }}">{{ user_type_str }}</option>
                {% endfor %}
            </select><br>
            <label for="password">Пароль</label>
            <input type="password" name="password" required="required"><br>
            <label for="password_confirm">Подтвердите пароль</label>
            <input type="password" name="password_confirm" required="required"><br>
            {% if error %}
                <div>{{ error }}</div><br>
            {% endif %}
            <input type="submit" value="Зарегистрироваться">
        {% endif %}
    </form>
</body>
</html>