{% extends 'admin_list_wrapper.html' %}
{% block title %}Администраторы системы{% endblock %}
{% block header_title %}Администраторы системы{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}

{% endblock %}
{% block forms %}
    <div style="opacity:0" class="popup edit">
    <a data-w-id="cfb4fa56-8083-748e-8efa-0deeee2c4f96" href="#" class="close-popup background w-button"></a>
    <div class="div-block-687">
      <div class="form-block w-form">
        <h1 class="form-headline">Редактирование пользователя</h1>
        <form method="get" data-name="Neatly Dashboard" id="wf-form-Neatly-Dashboard" name="wf-form-Neatly-Dashboard" class="form-2">
          <h5 class="heading-131 login">Фамилия</h5><input type="text" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Имя</h5><input type="text" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Отчество</h5><input type="text" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Дата рождения</h5><input type="email" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Логин</h5><input type="email" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Организация</h5><select id="field-7" name="field-7" class="select-field w-select">
            <option value="">Выберите</option>
            <option value="Another Choice">Another Choice</option>
          </select><label for="Name" class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">Name</label><input type="number" class="text-field-3 hdie w-input" maxlength="256" name="field-5" data-name="Field 5" id="field-5" required="">
          <div class="form-submit-wrapper"><input type="submit" value="Сохранить" data-wait="Please wait..." class="form-button w-button"></div>
        </form>
      </div>
      <a data-w-id="cfb4fa56-8083-748e-8efa-0deeee2c4fc7" href="#" class="close-popup form w-button"></a>
    </div>
  </div>
  <div style="opacity:0" class="popup new">
    <a data-w-id="c8ae47b5-994b-49eb-428c-d2e961d0738c" href="#" class="close-popup background w-button"></a>
    <div class="div-block-687">
      <a data-w-id="c8ae47b5-994b-49eb-428c-d2e961d073b6" href="#" class="close-popup form w-button"></a>
      <div class="form-block w-form">
        <h1 class="form-headline">Добавление пользователя</h1>
        <form method="get" data-name="Neatly Dashboard" id="wf-form-Neatly-Dashboard" name="wf-form-Neatly-Dashboard" class="form-2">
          <h5 class="heading-131 login">Фамилия</h5><input type="text" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Имя</h5><input type="text" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Отчество</h5><input type="text" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Дата рождения</h5><input type="text" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Логин</h5><input type="email" maxlength="256" id="node" required="" class="text-field-7 w-input">
          <h5 class="heading-131 login">Организация</h5><select id="field-7" name="field-7" class="select-field w-select">
            <option value="">Выберите</option>
            <option value="Another Choice">Another Choice</option>
          </select><label for="Name" class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">Name</label><input type="number" class="text-field-3 hdie w-input" maxlength="256" name="field-5" data-name="Field 5" id="field-5" required="">
          <div class="form-submit-wrapper"><input type="submit" value="Добавить" data-wait="Please wait..." class="form-button w-button"></div>
        </form>
      </div>
    </div>
  </div>
  <div style="opacity:0" class="popup view-request">
    <div class="div-block-687">
      <a data-w-id="ad369e64-21e7-bd00-c6f0-e554c82af3f2" href="#" class="close-popup form w-button"></a>
      <div class="form-block w-form">
        <h1 class="form-headline">Просмотр заявки</h1>
        <form method="get" data-name="Neatly Dashboard" id="wf-form-Neatly-Dashboard" name="wf-form-Neatly-Dashboard" class="form-2">
          <h5 class="heading-131 login">Причина заявки</h5>
          <h4 class="heading-144">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h4>
          <div class="div-block-752">
            <div class="div-block-636">
              <a data-w-id="ad369e64-21e7-bd00-c6f0-e554c82af3fd" href="#" class="button-13 w-button">Отклонить</a>
              <a href="#" class="button-12 w-button">Одобрить</a>
            </div>
          </div><label for="Name" class="w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">Name</label><input type="number" class="text-field-3 hdie w-input" maxlength="256" name="field-5" data-name="Field 5" id="field-5" required="">
          <div class="form-submit-wrapper"></div>
        </form>
      </div>
    </div>
    <a data-w-id="ad369e64-21e7-bd00-c6f0-e554c82af40c" href="#" class="close-popup background w-button"></a>
  </div>
{% endblock %}