{% extends 'wrapper.html' %}
{% block title %}{% if user_id %}Редактирование{% else %}Создание{% endif %} пользователя{% endblock %}
{% block content %}
    <form
            {% if user_to_change %}
            action="/users/change/{{ user_to_change.id }}"
            {% else %}
            action="/users/create"
            {% endif %}
        method="post">
            {% csrf_token %}
            <label for="last_name">Фамилия</label>
            <input type="text" name="last_name" required="required" {% if user_to_change %}value="{{ user_to_change.last_name }}"{% endif %}><br>
            <label for="first_name">Имя</label>
            <input type="text" name="first_name" required="required" {% if user_to_change %}value="{{ user_to_change.first_name }}"{% endif %}><br>
            <label for="middle_name">Отчество</label>
            <input type="text" name="middle_name" required="required" {% if user_to_change %}value="{{ user_to_change.middle_name }}"{% endif %}><br>
            <label for="email">Email</label>
            <input type="email" name="email" required="required" {% if user_to_change %}value="{{ user_to_change.email }}"{% endif %}><br>
            <label for="phone_number">Номер телефона</label>
            <input type="text" name="phone_number" placeholder="+79990001122" required="required" {% if user_to_change %}value="{{ user_to_change.phone_number }}"{% endif %}><br>
            <label for="birth_date">Дата рождения</label>
            <input type="date" name="birth_date" placeholder="2020-12-24" required="required" {% if user_to_change %}value="{{ user_to_change.birth_date | date:"Y-m-d" }}"{% endif %}><br>
            {% if orgs %}
            <label>Организация</label>
            <select name="org_id">
                {% for org in orgs %}
                    <option value="{{ org.id }}" {% if user_to_change and user_to_change.org and user_to_change.org == org %}selected="selected"{% endif %}>{{ org }}</option>
                {% endfor %}
            </select><br>
            {% endif %}
            <label for="password">Пароль</label>
            <input type="password" name="password"><br>
            <label for="password_confirm">Подтвердите пароль</label>
            <input type="password" name="password_confirm"><br>
            {% if error %}
                <div>{{ error }}</div><br>
            {% endif %}
            <input style="display: none" hidden name="user_type" value="{{ user_type.id }}">
            {% if user_to_change %}
                <input style="display: none" hidden name="user_id" value="{{ user_to_change.id }}">
            {% endif %}
            <input type="submit" value="Сохранить">
    </form>
{% endblock %}